html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
}

body, html {
    background: #4e657a;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica';
    color: white;
}


.navbar {
  text-decoration: none;
  background-color: #435c70;
  box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
  position: fixed;
  top: 0;
  height: 15.2%;
  margin-left: 0%;
  width: 100%;
  z-index: 1;
}

.heading a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  letter-spacing: 1px;
}

.navbar ul {
  position: absolute;
  margin: 0;
  margin-left: 31%;
  padding: 0px 0px;
  display: flex;
  height: 100px;
}

.navbar ul li {
  list-style: none;
  text-align: center;
  display: block;
  padding-top: 20px;
}

.navbar ul li a {
  text-decoration: none;
  padding: 0 30px;
  display: block;
}

.navbar ul li a .icon .fa {
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 28px;
  color: white;
}

.navbar ul li a .name {
  color: white;
  font-size: 15px;
}

.unactive a:hover .icon .fa {
  color: #f5a623;
}

.unactive a:hover .name {
  color: #f5a623;
}

.active {
  background-color: #f5a623;
}


.dropbtn {
  background-color: #435c70;
  color: white;
  border: none;
  margin: 0;
  padding: 0 30px;
}

.dropbtn .icon .fa {
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 28px;
  color: white;
}

.dropbtn .name {
  color: white;
  font-size: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #435c70;
  min-width: 150px;
}

.dropdown-content a { 
  color: white;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  display: block;
  margin-top: 10%;
}

.dropdown-content a:hover {color: #f5a623;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn .name {
  background-color: #435c70;
  color: #f5a623;
}

.dropdown:hover .dropbtn .icon .fa {
  background-color: #435c70;
  color: #f5a623;
}

.body {
  width: 100%;
  margin-top: 7.5%;
}



.search i {
  position: absolute;
  left: 76%;
  padding-top: 2.5%;
  color: #6d8da6;
  margin-top: 0;
}


input[type=search] {
  width: 20%;
  padding: 14px 40px;
  padding-top: 1%;
  margin-top: 1.6%;
  margin-left: 75%;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f5a623;
  font-size: 100%;
  color: white;
}

::placeholder {
  color: white;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


/*PURCHASE ORDER TABLE*/
table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 90%;
}

.js-sort-table th {
  border-top: 4px solid #6d8da6;
  border-bottom: 4px solid #6d8da6;
  text-align: center;
  padding: 8px;
}


.js-sort-table td {
  border-bottom: 1px solid #6d8da6;
  text-align: center;
  padding: 8px;
}

.js-sort-table td a {
  color: white;
  text-decoration:none;
  padding: 5px;
}

.js-sort-table td .view:hover {
  background-color: #337ab2;
}

.js-sort-table td .view {
  background-color: #337ab2;
}

.js-sort-table td .edit {
  background-color: #efad4d;
}

.js-sort-table td .delete {
  background-color: #d85050;
}


.pg-normal { 
color: white; 
font-size: 17px; 
cursor: pointer; 
padding: 8px 16px;
font-size: 17px;
}

.pg-normal:hover {
  background-color: #f5a623;
}

.pg-selected { 
color: white; 
font-size: 17px; 
background: #f5a623; 
cursor: pointer; 
padding: 8px 16px;
}
